.hidden {
    visibility: hidden;
}

#map {
    width: 100%;
    height: 400px;
}

.wind-direction-image {
    width: 2em;
}

#weather-image {
    width: 40%;
}

#weather-image-container {
    display: flex;
    justify-content: center;
}

canvas .temperatures {
    width: 100%;
}

#map > * {
    border-radius: 0 0 20px 20px;
}