.hidden {
    visibility: hidden;
}

/* html, body {
    height: 100%;
    /*overflow: hidden;
}

body {
    background: linear-gradient( #44435d, #7c9cba);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.my-data {
    color: #eff0f1;
    margin: 0 auto;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    margin: 10px auto;
    width: 40%;
}

#menu form {
    
} */

